.inner-header {
  width: 1160px;
  display: flex;
  flex-direction: row;
  margin: 0rem 3rem;
  align-items: center;
  justify-content: space-between;
}

.header-items {
  list-style: none;
  padding: 0px 2.5rem;
  vertical-align: middle;
}

header {
  padding: 1rem 0rem;
  background-color: #eeece7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 7rem;
}

.inner-header > nav > ul {
  display: flex;
  margin: 0%;
}

.header-items > a {
  color: #404040;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-items > a:hover {
  color: #5409da;
  transform: scale(1, 1.5);
}
nav {
  display: flex;
}

.top-header-menu {
  display: flex;
  width: 1160px;
  justify-content: end;
}

.top-header-menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.top-header-menu-item > li {
  padding: 0px 10px;
  font-weight: bold;
  color: #404040;
}